/Conf.Management.Domain/obj
/Conf.Management.Domain/bin
*.suo
*.suo
/Conf.Management.WebApi/bin/Debug/netcoreapp1.1
/Conf.Management.Infrastructure/bin
/Conf.Management.Infrastructure/obj
/Conf.Management.WebApi/obj
/Conf.Management.WebApi/bin
/Conf.Management.WebApi/Conf.Management.WebApi.csproj.user
/Conf.Management.Infrastructure.DataAccess/obj
/Conf.Management.Infrastructure.DataAccess/bin
/Conf.Infrastructure/bin
/Conf.Infrastructure/obj
/Conf.Management/obj
/Conf.Management/bin
/Conf.Management.DataAccess/bin
/Conf.Management.DataAccess/obj
